body{
    background-image: url("../images/carbon_fibre_big.png");
    margin: 20px;
}

img{
    align-content: center;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#map {
    border: 2px solid #000000;
    width: 100%;
    height: 400px;
    
}
#results-section {
    height: 400px;
    overflow-y: scroll;
}

.radio-input {
    margin-right: 10px;
}
#things-city-search, #things-title, #things-subtitle, #budget-tag, #required{
    color: #28a745
}

.jumbotron {
    padding: 10px 15px 10px 15px;
}